body {
    font-family: 'Aboreto', cursive;
    background-image: url(https://images.pexels.com/photos/821644/pexels-photo-821644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.introduccion {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduccion h1 {
    background-color: #2f4f4f;
    border-radius: 10px;
    color: aliceblue;
    padding: 8px;
}
.introduccion p {
    color: aliceblue;
    font-size: 23px;

}
.introduccion img {
    width: 60vw;
    height: 30vh;
    border-radius: 20px;
    border: groove #2f4f4f;
}
.animal img{
   width: 30vw;
   height: 40vh;
   object-fit: cover;
   border-radius: 20px; 
   border: groove #2f4f4f;
   text-align: center;
}
.animales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.animales .animal p {
    text-align: center;
    background-color: #2f4f4f;
    margin: 15px 120px;
    border-radius: 20px;
    color: aliceblue;
    font-weight: bold;
    padding: 8px;
}
.autor {
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    
}
.cuerpo {
    color: aliceblue;
    text-align: center;
}
.fotos {
    display: flex;
  justify-content: space-evenly;
}
.fotos img {
  width: 40vw;
  height: 40vh;
  border-radius: 20px;
  border: groove #2f4f4f;
}
.texto{
    width: 80%;
    margin: 4rem auto 6rem;
    font-size: 23px;
}
.texto p {
  background-color: rgba(0, 0, 0, 0.581);
  text-align: start;
}
.lista {
    background-color: rgba(0, 0, 0, 0.581);
    
    padding: 0;
    text-align: start;
}
.titulo {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.titulo h1 {
    background-color: #2f4f4f;
    border-radius: 10px;
    padding: 10px;
}
.badge0 {
    background-color: #2f4f4f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 8px;  
}

.inicio {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
}
.inicio2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    margin: 2rem;
    justify-content: space-around;
}
.inicio:hover,
.inicio2:hover {
    color: red;
}
.badge { 
    background-color: #2f4f4f;
    border-radius: 20px;
    padding: 8px;
}
.badge1 {
    border-radius: 10px;
    border: 1px solid white;
    padding: 8px;

}
@media (max-width: 930px)
{
     .fotos img {
        width: 40vw;
        height: 20vh;
        object-fit: cover;
    }
    .animal img {
        width: 40vw;
    height: 20vh;
    text-align: center;
    object-fit: cover;
    
    }
    .animales {
       display: grid;
       justify-content: space-around;
    }
    .introduccion img {
        width: 60vw;
        height: 20vh;
        object-fit: cover;
    }
    .introduccion p,
    .texto p {
        font-size: 20px;
    }
    
 }





